<div>
    <form [formGroup]="form" (submit)="aceptar()">
      <h1>Registro de Usuario</h1>
  
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="hcodigo" readonly>
        <mat-error *ngIf="form.controls['hcodigo'].hasError('required') && form.controls['hcodigo'].touched">
          El código es requerido.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Nombres</mat-label>
        <input matInput placeholder="Nombres" formControlName="hnombre">
        <mat-error *ngIf="form.controls['hnombre'].touched">
          <ng-container *ngIf="form.controls['hnombre'].hasError('required')">
            Requerido.
          </ng-container>
          <ng-container *ngIf="form.controls['hnombre'].hasError('minlength') && !form.controls['hnombre'].hasError('required')">
            Mínimo 2 caracteres.
          </ng-container>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Apellidos" formControlName="hapellido">
        <mat-error *ngIf="form.controls['hapellido'].touched">
          <ng-container *ngIf="form.controls['hapellido'].hasError('required')">
            Requerido.
          </ng-container>
          <ng-container *ngIf="form.controls['hapellido'].hasError('minlength') && !form.controls['hapellido'].hasError('required')">
            Mínimo 2 caracteres.
          </ng-container>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="hemail">
        <mat-error *ngIf="form.controls['hemail'].touched">
          <ng-container *ngIf="form.controls['hemail'].hasError('required')">
            Requerido.
          </ng-container>
          <ng-container *ngIf="form.controls['hemail'].hasError('email') && !form.controls['hemail'].hasError('required')">
            Email inválido.
          </ng-container>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Dirección</mat-label>
        <input matInput placeholder="Dirección" formControlName="hdireccion">
        <mat-error *ngIf="form.controls['hdireccion'].touched">
          <ng-container *ngIf="form.controls['hdireccion'].hasError('required')">
            Requerido.
          </ng-container>
          <ng-container *ngIf="form.controls['hdireccion'].hasError('minlength') && !form.controls['hdireccion'].hasError('required')">
            Mínimo 5 caracteres.
          </ng-container>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Teléfono</mat-label>
        <input matInput placeholder="Teléfono" formControlName="htelefono">
        <mat-error *ngIf="form.controls['htelefono'].touched">
          <ng-container *ngIf="form.controls['htelefono'].hasError('required')">
            Requerido.
          </ng-container>
          <ng-container *ngIf="form.controls['htelefono'].hasError('pattern') && !form.controls['htelefono'].hasError('required')">
            Solo números.
          </ng-container>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Género</mat-label>
        <mat-select formControlName="hgenero">
          <mat-option value="M">Masculino</mat-option>
          <mat-option value="F">Femenino</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['hgenero'].hasError('required') && form.controls['hgenero'].touched">
          Requerido.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput placeholder="Nombre de Usuario" formControlName="husername">
        <mat-error *ngIf="form.controls['husername'].touched">
          <ng-container *ngIf="form.controls['husername'].hasError('required')">
            Requerido.
          </ng-container>
          <ng-container *ngIf="form.controls['husername'].hasError('minlength') && !form.controls['husername'].hasError('required')">
            Mínimo 2 caracteres.
          </ng-container>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contraseña" formControlName="hpassword" type="password">
        <mat-error *ngIf="form.controls['hpassword'].touched">
          <ng-container *ngIf="form.controls['hpassword'].hasError('required')">
            Requerido.
          </ng-container>
          <ng-container *ngIf="form.controls['hpassword'].hasError('minlength') && !form.controls['hpassword'].hasError('required')">
            Mínimo 5 caracteres.
          </ng-container>
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button type="submit">Aceptar</button>
    </form>
  </div>