mat-toolbar {
    display: flex;
    justify-content: space-between;
  }
  
  mat-toolbar button {
    margin-right: 10px;
  }
  
  mat-menu-item mat-icon {
    margin-right: 8px;
  }
  
  .container {
    padding: 20px;
  }
  
  .title-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  button.mat-raised-button {
    margin-top: 10px;
  }
  
  .button-container {
    text-align: center;
    margin-top: 20px;
  }
  /* Dentro de app.component.css o app.component.scss */

.mat-toolbar {
  background-color: #07a78c; /* Color de fondo del mat-toolbar */
  color: white; /* Color del texto */
}

.mat-button {
  color: #07a78c; /* Color del texto de los botones */
}

.mat-button:hover {
  background-color: #07a78c; /* Cambio de color de fondo al pasar el mouse */
  color: white; /* Cambio de color del texto al pasar el mouse */
}
