<div>
  <form [formGroup]="form" (submit)="aceptar()">
      <h1>Registro de Comprobante</h1>

      <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Código</mat-label>
          <input matInput formControlName="hcodigo" readonly>
          <mat-error *ngIf="form.controls['hcodigo'].hasError('required') && form.controls['hcodigo'].touched">
              El código es requerido.
          </mat-error>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Método</mat-label>
          <mat-select formControlName="hmetodo">
              <mat-option *ngFor="let metodo of listaMetodos" [value]="metodo.value">{{metodo.viewValue}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['hmetodo'].hasError('required') && form.controls['hmetodo'].touched">
              El método es requerido.
          </mat-error>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Estado</mat-label>
          <mat-select formControlName="hestado">
              <mat-option *ngFor="let estado of listaEstados" [value]="estado.value">{{estado.viewValue}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['hestado'].hasError('required') && form.controls['hestado'].touched">
              El estado es requerido.
          </mat-error>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Donación</mat-label>
          <mat-select formControlName="hdonacion">
              <mat-option *ngFor="let donacion of listaDonaciones" [value]="donacion.idDonacion">{{donacion.idDonacion}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['hdonacion'].hasError('required') && form.controls['hdonacion'].touched">
              La donación es requerida.
          </mat-error>
      </mat-form-field>

      <button mat-flat-button type="submit">Registrar</button>
  </form>
</div>
