<div>
    <form [formGroup]="form" (submit)="aceptar()">
      <h1>Registro de Mascota</h1>
  
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="hcodigo" readonly>
        <mat-error *ngIf="form.controls['hcodigo'].hasError('required') && form.controls['hcodigo'].touched">
          El código es requerido.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="hnombre">
        <mat-error *ngIf="form.controls['hnombre'].touched">
          <ng-container *ngIf="form.controls['hnombre'].hasError('required')">
            El nombre es requerido.
          </ng-container>
          <ng-container *ngIf="form.controls['hnombre'].hasError('minlength') && !form.controls['hnombre'].hasError('required')">
            Debe tener al menos 2 caracteres.
          </ng-container>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="hnacimiento" required>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="form.controls['hnacimiento'].touched">
          <ng-container *ngIf="form.controls['hnacimiento'].hasError('required')">
            La fecha es requerida.
          </ng-container>
          <ng-container *ngIf="form.controls['hnacimiento'].hasError('fechaInvalida') && !form.controls['hnacimiento'].hasError('required')">
            Debe ser anterior a hoy.
          </ng-container>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Raza</mat-label>
        <input matInput placeholder="Raza" formControlName="hraza">
        <mat-error *ngIf="form.controls['hraza'].touched">
          <ng-container *ngIf="form.controls['hraza'].hasError('required')">
            La raza es requerida.
          </ng-container>
          <ng-container *ngIf="form.controls['hraza'].hasError('minlength') && !form.controls['hraza'].hasError('required')">
            Debe tener al menos 2 caracteres.
          </ng-container>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Sexo</mat-label>
        <mat-select formControlName="hsexo">
          <mat-option *ngFor="let sex of listaSexos" [value]="sex.value">{{sex.viewValue}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['hsexo'].hasError('required') && form.controls['hsexo'].touched">
          El sexo es requerido.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Estado</mat-label>
        <mat-select formControlName="hestado">
          <mat-option *ngFor="let estado of listaEstados" [value]="estado.value">{{estado.viewValue}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['hestado'].hasError('required') && form.controls['hestado'].touched">
          El estado es requerido.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="hfecha" required>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="form.controls['hfecha'].touched">
          <ng-container *ngIf="form.controls['hfecha'].hasError('required')">
            La fecha es requerida.
          </ng-container>
          <ng-container *ngIf="form.controls['hfecha'].hasError('fechaInvalida') && !form.controls['hfecha'].hasError('required')">
            Debe ser anterior a hoy.
          </ng-container>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Adopción</mat-label>
        <mat-select formControlName="hadopcion">
          <mat-option *ngFor="let adopcion of listaAdopciones" [value]="adopcion.value">{{adopcion.viewValue}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['hadopcion'].hasError('required') && form.controls['hadopcion'].touched">
          El estado es requerido.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Albergue</mat-label>
        <mat-select formControlName="halbergue">
          <mat-option *ngFor="let albergue of listaAlbergues" [value]="albergue.idAlbergue">{{albergue.nombreAlbergue}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['halbergue'].hasError('required') && form.controls['halbergue'].touched">
          El albergue es requerido.
        </mat-error>
      </mat-form-field>
  
      <button mat-flat-button type="submit">Registrar</button>
    </form>
  </div>
  