<div>
  <form [formGroup]="form" (submit)="aceptar()">
      <h1>Registro de Donación</h1>

      <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Código</mat-label>
          <input matInput formControlName="hcodigo" readonly>
          <mat-error *ngIf="form.controls['hcodigo'].hasError('required') && form.controls['hcodigo'].touched">
              El código es requerido.
          </mat-error>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="htipo">
              <mat-option *ngFor="let tipo of listaTipos" [value]="tipo.value">{{tipo.viewValue}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['htipo'].hasError('required') && form.controls['htipo'].touched">
              El tipo es requerido.
          </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Monto</mat-label>
        <input matInput placeholder="Monto" formControlName="hmonto">
        <mat-error *ngIf="form.controls['hmonto'].touched">
          <ng-container *ngIf="form.controls['hmonto'].hasError('required')">
            El monto es requerido.
          </ng-container>
          <ng-container *ngIf="form.controls['hmonto'].hasError('pattern') && !form.controls['hmonto'].hasError('required')">
            El monto debe ser un número.
          </ng-container>
          <ng-container *ngIf="form.controls['hmonto'].hasError('min') && !form.controls['hmonto'].hasError('required') && !form.controls['hmonto'].hasError('pattern')">
            Debe ser mayor o igual a 1.
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Detalles</mat-label>
        <input matInput placeholder="Detalles" formControlName="hdetalle">
        <mat-error *ngIf="form.controls['hdetalle'].touched">
          <ng-container *ngIf="form.controls['hdetalle'].hasError('required')">
            Los detalles son requeridos.
          </ng-container>
          <ng-container *ngIf="form.controls['hdetalle'].hasError('minlength') && !form.controls['hdetalle'].hasError('required')">
            Deben tener al menos 5 caracteres.
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Usuario</mat-label>
          <mat-select formControlName="huser">
              <mat-option *ngFor="let user of listaUsuarios" [value]="user.id">{{user.username}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['huser'].hasError('required') && form.controls['huser'].touched">
              El usuario es requerido.
          </mat-error>
      </mat-form-field>

      <button mat-flat-button type="submit">Registrar</button>
  </form>
</div>
