<div>
  <h1>Listar Roles</h1>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- ID Role Column -->
      <ng-container matColumnDef="c1">
          <th mat-header-cell *matHeaderCellDef> ID Rol </th>
          <td mat-cell *matCellDef="let role"> {{role.id}} </td>
      </ng-container>

      <!-- Nombre del Rol Column -->
      <ng-container matColumnDef="c2">
          <th mat-header-cell *matHeaderCellDef> Rol </th>
          <td mat-cell *matCellDef="let role"> {{role.rol}} </td>
      </ng-container>

      <!-- Usuario Column -->
      <ng-container matColumnDef="c3">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let role"> {{role.user.username}} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="accion01">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let role">
            <mat-icon 
            (click)="eliminar(role.id)" 
            style="cursor: pointer;"
          >
            delete
          </mat-icon>
              <mat-icon style="cursor: pointer; margin-left: 8px;" [routerLink]="['ediciones', role.id]">
                  edit
              </mat-icon>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
      [pageSizeOptions]="[4, 8, 10]"
      aria-label="Select page"
    ></mat-paginator>
</div>
