/* Contenedor del título y el gráfico */
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra todo el contenido horizontalmente */
  margin-top: 50px; /* Ajusta la distancia desde la parte superior de la página wedwdw*/
  margin-bottom: 20px; /* Espacio debajo del contenedor */
}

/* Estilo del título */
.title h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.8rem; /* Tamaño del texto ajustado */
  color: #1b5e20; /* Verde oscuro para coherencia */
  margin-bottom: 20px;
  text-align: center;
}

/* Contenedor del gráfico */
.chart-container {
  width: 50%; /* Reduce el tamaño del gráfico */
  max-width: 500px; /* Tamaño máximo del gráfico */
  margin: 0 auto; /* Centra horizontalmente */
  padding: 20px; /* Espacio interno */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 15px; /* Bordes redondeados */
  background-color: #ffffff; /* Fondo blanco */
  box-sizing: border-box;
}

/* Adaptación para pantallas pequeñas */
@media (max-width: 768px) {
  .chart-container {
    width: 90%; /* Ajusta el ancho para pantallas más pequeñas */
    padding: 15px; /* Reduce el padding */
  }

  .title h1 {
    font-size: 1.5rem; /* Reduce el tamaño del título */
  }
}
